<%= content_for :breadcrumbs do %>
  <li class='active'>My passed tests</li>
<% end %>

<%= content_for :headline_title do %>
  Passed tests
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @passed_tests.each do |passed_test| %>
  <tr>
    <td><%= passed_test.test_id %></td>
  </tr>
<% end %>
</table>
