<ul>
  <% pages.each do |page| %>
    <li>
      <span><%= page.name %></span>
      <%= render partial: 'shared/submenu_pages', locals: { pages: page.children, main: page } if page.children.present? %>
      <% page_tests = Test.where(room_id: page.id) %>
      <% if page_tests.any? %>
        <ul>
          <% page_tests.each do |page_tests| %>
            <li><%= link_to page_tests.name, page_tests %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>

  <% tests = Test.where(room_id: main.id) %>
  <% if tests.any? %>
    <% tests.each do |test| %>
      <li><%= link_to test.name, test %></li>
    <% end %>
  <% end %>
</ul>