<% current_user.rooms.roots.each do |root| %>
  <li>
    <span><%= root.name %></span>
    <%= render partial: 'shared/submenu_pages', locals: { pages: root.children, main: root } if Test.where(room_id: root.id).any? || root.children.present? %>
  </li>
<% end %>