<div class="tabbed_area">
  <form id="sign_in_form">
    <p class="title_text">Login to start Creating Tests!</p>
    <p class="context_text">Sign in please, it is safe :)</p>
    
    <p><input type="email" placeholder="Email Address" autofocus /></p>
    <p><input type="password" placeholder="Password" /></p>
    <p><input type="submit" value="Login" /></p>
    
    <span id="sign_up" onclick="formSwitch('sign_up_form')">Need to Register?</span> <i>&mdash;</i> <a>Forgot your password?</a>
  </form>
  
  <form id="sign_up_form">
    <p class="title_text">Enjoy Online Tests Today!</p>
    <p class="context_text">Registration is Free and will not take much of your time.</p>
    
    <p><input type="email" placeholder="Email Address" /></p>
    <p><input type="submit" value="Sign Up" /></p>
    
    <p class="context_text">or <span id="sign_in" onclick="formSwitch('sign_in_form')">Login</span></p>
  </form>
</div>
