<div id="show_room_block">
  <script>
    $(function() {
      $("#show_room_block a#cancel_link").click(function() {
        $("#show_room_block").remove();
        $("#room_<%= @room.id %>").show();
      });
    });
  </script>

  <p id="notice"><%= notice %></p>

  <% if @room.tests.empty? %>
    Empty
  <% else %>
    <% @room.tests.each do |test| %>
      <%= link_to test.name, test %><br />
    <% end %>
  <% end %>

  <a id="cancel_link" class="link b-link-blue">Cancel</a>
</div>