$("#room_<%= @room.id %>").remove();

$('#submenu').empty().append("<%= j render 'shared/submenu' %>").tree();

<% if current_user.rooms.any? %>
  $('#created_rooms').empty().append('<%= j render "shared/content_table", content: current_user.rooms.page(params[:page]), model_name: "rooms" %>');
  
  $('.information').popover();
  $('.btn, .action').tooltip();
<% else %>
  $('.form-search').slideUp(200);
  $('.row-fluid .span6 h4').slideDown(200);
  
  $('#created_rooms').slideUp(400).delay(400).empty();

  $('#left-side .page-header').after('<p style="padding-top: 12px; text-align: center;">There are no <i><b>rooms</b></i> or <i><b>tests</b></i></p>');
<% end %>