<% content_for :headline_title do %>My rooms<% end %>

<% content_for :breadcrumbs do %>
<!--   <%= breadcrumbs.render %> -->
<% end %>

<div id="created_rooms">
  <%= render @rooms %>
</div>

<br />

<%= link_to raw('<input class="b-blue b-medium" type="button" value="New Room">'), new_room_path, id: "new_room_link", class: 'button-link', remote: true %>