<% content_for :headline_title do %>My rooms<% end %>

<% content_for :breadcrumbs do %>
  <ul>
    <li>
      <a href="#">Rooms</a>
      <span>/</span> 
    </li>
    <li>
      <a href="#">Room in room</a>
      <span>/</span> 
    </li>
    <li class="active">We are here</li>
  </ul>
<% end %>

<div id="created_rooms">
  <%= render @rooms %>
</div>

<br />

<%= link_to 'New Room', new_room_path, id: "new_room_link", remote: true %>