/* Author: Kris Simpson; */
/* ##################### */
/* Button types: button, button-link, link; */
/* Colors: b-blue, b-link-blue; */
/* Sizes: b-big; */

/* Buttons */

.button {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-family: Ubuntu-Bold;
  padding: 4px;
  border: 0;
  
  &:hover {
    cursor: pointer;
  }
}

.button-link {
  text-decoration: none;

  input {
    @extend .button;
  }
}

.link {
  text-decoration: none;
          
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* Colors */

.b-blue {
  background-color: #008FD5;
  color: white;

  &:hover {
    background-color: #006596;
  }
}

.b-white {
  &:hover {
    background-color: #F0F0F0;
  }
}

.b-link-blue {
  color: #008FD5;
}

/* Sizes */

.b-big {
  width: 100%;
}

.b-medium {
  width: 250px;
}