.new_room, .edit_room {
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 2px #d6d6d6 inset;
  padding: 10px;
  padding-right: 13px;
  margin: 10px 0;
  width: 350px;

  label {
    color: #37464F;
  }

  input[type='text'], textarea {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .actions {
    margin-top: 10px;
  }
}