<% content_for :headline_title do %>
  My tests
<% end %>

<% content_for :breadcrumbs do %>
  <li class="active">Tests</li>
<% end %>

<div id="created_tests">
  <%= render(@tests) %>

  <span class='empty-blocks'><%= raw('There are no tests') unless @tests.any? %></span>
</div>

<br />

<% if current_user.rooms.all.any? %>
  <%= link_to raw('<input class="b-blue b-medium" type="button" value="New Test">'), new_test_path, class: 'button-link' %>
<% else %>
  <%= link_to raw('<input class="b-white b-medium" type="button" value="New Test" disabled>'), new_test_path, class: 'button-link' %>
<% end %>