<% content_for :headline_title do %>
  My tests
<% end %>

<% content_for :breadcrumbs do %>
 <!--  <%= breadcrumbs.render %> -->
  <li><a>Some room</a> <span>/</span></li>
  <li class="active">Tests</li>
<% end %>

<div id="created_tests">
  <%= render(@tests) %>
</div>

<br />

<%= link_to raw('<input class="b-blue b-medium" type="button" value="New Test">'), new_test_path, class: 'button-link' %>