<% content_for :breadcrumbs do %>
  <li><%= link_to 'My tests', tests_path %> <span>/</span></li>
  <li class="active">New test</li>
<% end %>

<% content_for :headline_title do %>
  New test
<% end %>

<%= render 'form' %>